@import url("https://fonts.googleapis.com/css2?family=Inika:wght@400;700&family=Licorice&display=swap");

* {
  font-family: "Inika", serif;
  font-weight: 400;
  font-style: normal;
}

h1,
h2,
h3,
h4 {
  font-family: "Licorice", serif;
  font-weight: 400;
  font-style: normal;
}
